.webcam-off-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  padding: 1rem;
  color: var(--text-secondary-color);
}

.webcam-off-container p {
  margin-top: 1rem;
}
