.app-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
  margin-left: 250px; /* Same as sidebar width */
  transition: margin-left 0.3s ease;
}

.app-container.collapsed .main-content {
  margin-left: 80px; /* Same as collapsed sidebar width */
}

